@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@400;700&display=swap');

body {
    padding: 0;
    line-height: 1.5;
    background: #181a1b;
    scroll-behavior: smooth;
}

    body::-webkit-scrollbar {
        display: none;
    }

a, a:hover {
    text-decoration: none;
    color: inherit;
}

header {
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url('./images/background.jpg');
    background-size: cover;
    min-height: 99vh;
    position: relative;
}

    header .navbar-brand {
        margin-left: 100px;
    }

    header #particles-js {
        height: 99vh;
        position: relative;
    }

        header #particles-js canvas {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
        }

#intro {
    z-index: 5;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

    #intro h1 {
        letter-spacing: 2px;
        white-space: nowrap;
        text-align: center;
        font-size: 62px;
        font-family: 'Playfair Display SC', serif;
    }

    #intro p {
        color: #dcdcdc;
        line-height: 1.6;
        font-size: 25px;
        text-align: center;
        max-width: 800px;
        margin: 0 auto;
        padding: 0.5rem;
    }

.social-links {
    position: absolute;
    bottom: 40%;
    left: -125px;
}

    .social-links ul {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding: 0;
    }

        .social-links ul li {
            transition: 0.3s;
            width: 100%;
            display: flex;
            justify-content: end;
            font-size: 1.5rem;
            height: 100%;
        }

            .social-links ul li:hover {
                transform: translateX(115px);
            }

            .social-links ul li a {
                text-align: right;
                height: 100%;
                width: 100%;
                padding: 15px 20px;
            }

                .social-links ul li a i {
                    font-size: 1.75rem;
                    margin-left: 1.5rem;
                }

.projects {
    padding: 2em 0;
}

    .projects .title, .projects .sub-title {
        font-family: 'Playfair Display SC', serif;
        text-align: center;
    }

    .projects .sub-title {
        font-size: 24px;
    }

    .projects .project-row {
        display: flex;
        margin-bottom: 3rem;
    }

        .projects .project-row .left {
            width: 50%;
            margin-right: 2rem;
        }

            .projects .project-row .left img {
                width: 100%;
                border: 1px solid lightgray;
            }

        .projects .project-row .right {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

            .projects .project-row .right .tech-list {
                display: flex;
                flex-wrap: wrap;
                list-style-type: none;
                margin-top: 1rem;
                padding-left: 0px;
                margin-bottom: 0;
            }

                .projects .project-row .right .tech-list li {
                    margin-right: 20px;
                    font-size: 1.5rem;
                }

                .projects .project-row .right .tech-list img {
                    width: 1.2em;
                    height: 1.1em;
                    vertical-align: top;
                }
                .projects .project-row .right p{
                    font-size:18px;
                }

            .projects .project-row .right .project-links {
                margin-top: 1rem;
            }

                .projects .project-row .right .project-links a {
                    display: inline-block;
                    padding: 0.5rem 1rem;
                    font-size:1.25rem;
                }

                .projects .project-row .right .project-links .btn {
                    color: #0d6efd;
                    vertical-align: top;
                }

                    .projects .project-row .right .project-links .btn:hover {
                        color: white;
                        background-color: #0d6efd;
                    }

    .projects .soon {
        text-align: center;
        font-family: 'Playfair Display SC', serif;
    }

.skills {
    padding: 3rem 0;
    position: relative;
    overflow: hidden;
}

    .skills .title {
        text-align: center;
        margin-bottom: 3rem;
        font-family: 'Playfair Display SC', serif;
    }

    .skills .skills-icons {
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 1100px;
        margin: 0 auto;
        padding-left:0;
    }

        .skills .skills-icons li {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: white;
            font-size: 1.2rem;
            transition: all 0.3s ease 0s;
            margin: 2rem;
        }
        .skills .skills-icons img {
            margin: 0.5rem;
            width: 90px;
            height: 100px;
        }

        .skills .skills-icons .bootstrap  img{
            width: 110px;
        }

        .skills .skills-icons .sql  img{
            width: 130px;
            height: 100px;
        }

            .skills .skills-icons li:hover {
                transform: scale(1.2);
            }

.journey {
    padding-bottom: 4rem;
    font-family: 'Playfair Display SC', serif;
}

    .journey .container-fluid {
        padding: 1.5rem;
        overflow: hidden;
        max-width: 1000px;
    }

    .journey .title {
        text-align: center;
        margin-bottom: 3rem;
    }

    .journey .left {
        width: 50%;
    }

        .journey .left .left1 {
            display: flex;
            margin-right: 20px;
            box-shadow: 0 0.15rem 0.6rem;
        }

            .journey .left .left1 .left2 {
                margin-top: 20px;
                width: 100%;
                text-align: center;
            }

    .journey img {
        width: 200px;
        height: 200px;
    }

    .journey .right {
        margin-left: 473.5px;
        width: 50%;
    }

        .journey .right .right1 {
            margin-left: 20px;
            box-shadow: 0 0.15rem 0.6rem;
        }

            .journey .right .right1 .right2 {
                display: flex;
                width: 100%;
                text-align: center;
            }

                .journey .right .right1 .right2 .right3 {
                    padding: 10px;
                }

.contact {
    padding: 2rem 0;
}

    .contact .container-fluid {
        max-width: 1200px;
        padding: 1.5rem 1.5rem;
        margin: auto;
    }

    .contact .title {
        margin-bottom: 2rem;
        text-align: center;
        font-family: 'Playfair Display SC', serif;
    }

    .contact .card-container {
        display: flex;
        justify-content: space-around;
        margin-bottom: 3rem;
        flex-wrap: wrap;
    }

        .contact .card-container .card {
            background: #fff;
            width: 260px;
            margin: 20px;
            padding: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            box-shadow: 0 0.15rem 0.6rem rgba(43, 52, 56, 0.15);
        }

            .contact .card-container .card i {
                font-size: 3.5rem;
                /*color: #0d6efd;*/
                margin-bottom: 1rem;
                transition: 0.4s;
            }

                .contact .card-container .card i:hover {
                    transform: translateY(-20%);
                }

            .contact .card-container .card > * {
                margin: 0.5rem;
            }

    .contact form {
        max-width: 600px;
        margin: 0 auto;
        border-radius: 3px;
        box-shadow: 0 0.15rem 0.6rem rgba(43, 52, 56, 0.15);
        padding: 2rem;
    }

        .contact form p {
            text-align: center;
            margin: 1.5rem 0;
            font-family: 'Playfair Display SC', serif;
        }

        .contact form input {
            margin: 0.75rem 0;
            width: 100%;
            border-radius: 3px;
            border: 1px solid black;
            padding: 0.75rem;
            font-size: 1rem;
        }

        .contact form textarea {
            width: 100%;
            border-radius: 3px;
            margin: 0.75rem 0;
            border: 1px solid black;
            padding: 0.75rem;
            font-size: 1rem;
            resize: vertical;
        }

    .contact #submit-btn:hover {
        color: white;
        background-color: #0d6efd;
    }

footer {
    padding: 1.5rem 0;
    color: white;
}

    footer .container-fluid {
        max-width: 1200px;
        padding: 1.5rem 1.5rem;
        margin: auto;
    }

        footer .container-fluid .container {
            display: flex;
            justify-content: space-between;
        }

            footer .container-fluid .container ul {
                list-style-type: none;
                display: flex;
                flex-wrap: wrap;
            }

                footer .container-fluid .container ul li {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    margin: 0 1rem;
                    font-size: 17px;
                }
