/*@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@400;700&display=swap');

body {
    padding: 0;
    line-height: 1.5;
    /*background: #181a1b;*/
}

a, a:hover {
    text-decoration: none;
    color: inherit;
}

header {
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url('https://wallpaperaccess.com/full/5651988.jpg');
    background-size: cover;
    min-height: 80vh;
    position: relative;
}

    header #particles-js {
        height: 80vh;
        position: relative;
    }

        header #particles-js canvas {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
        }

/*.main-div {
    width: 100%;
    height: 650px;*/
/*background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url('https://burst.shopifycdn.com/photos/downtown-toronto.jpg?width=1200&format=pjpg&exif=1&iptc=1');
    background-repeat:no-repeat;
    background-size:cover;*/
/*}*/

#intro {
    z-index: 5;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

    #intro h1 {
        letter-spacing: 2px;
        white-space: nowrap;
        text-align: center;
        font-size: 60px;
        font-family: 'Playfair Display SC', serif;
        /*font-family: 'Roboto', sans-serif;*/
        /*font-weight: 900;*/
    }

    #intro p {
        color: #dcdcdc;
        line-height: 1.6;
        font-size: 25px;
        text-align: center;
        max-width: 800px;
        margin: 0 auto;
        padding: 0.5rem;
    }

.social-links {
    position: absolute;
    bottom: 40%;
    left: -125px;
}

    .social-links ul {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding: 0;
    }

        .social-links ul li {
            transition: 0.3s;
            width: 100%;
            display: flex;
            justify-content: end;
            font-size: 1.5rem;
            height: 100%;
        }

            .social-links ul li:hover {
                transform: translateX(115px);
            }

            .social-links ul li a {
                text-align: right;
                height: 100%;
                width: 100%;
                padding: 15px 20px;
            }

                .social-links ul li a i {
                    font-size: 1.75rem;
                    margin-left: 1.5rem;
                }

.projects {
    padding: 2em;
}

    .projects .title, .projects .sub-title {
        font-family: 'Playfair Display SC', serif;
        /*font-family: "Alfa Slab One", "Poppins";*/
        text-align: center;
    }

    .projects .sub-title {
        font-size: 25px;
    }

    .projects .project-row {
        display: flex;
        margin-bottom: 3rem;
    }

        .projects .project-row .left {
            width: 50%;
            margin-right: 2rem;
        }

            .projects .project-row .left img {
                width: 100%;
                border: 1px solid lightgray;
            }

        .projects .project-row .right {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

            .projects .project-row .right .tech-list {
                display: flex;
                flex-wrap: wrap;
                list-style-type: none;
                margin-top: 1rem;
                padding-left:0px;
            }

                .projects .project-row .right .tech-list li {
                    margin-right: 20px;
                    font-size: 1.5rem;
                }

                .projects .project-row .right .tech-list img {
                    width: 1.68em;
                    height: 1em;
                }
